:root {
    --color-pink-purple: hsl(298, 97%, 30%);
    --color-lavendar: hsl(249, 99%, 64%);
    --color-purple: hsl(278, 94%, 30%);
    --color-light-gray: hsl(270, 3%, 87%);
    --color-gray: hsl(212, 12%, 71%);
    --color-blue-gray: hsla(214, 12%, 74%, 0.5);
    --color-washed-black: hsl(0, 0%, 15%);
    --color-dark-purple: hsl(278, 68%, 11%);
    --color-red: hsl(0, 100%, 66%);
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.125rem;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    pointer-events: none;
}

.background-section {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    height: 14.375rem;
    width: 100%;
}

.container {
    z-index: 1;
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    gap: 0;
}

.card-section {
    max-width: 17.8125rem;
    min-width: 17.8125rem;
    height: 18.75rem;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    margin-bottom: 1.25rem;
}

.card-front,
.card-back {
    width: 100%;
    padding: 0;
    margin: 0;
    box-shadow: 0.3125rem 3.125rem 4.6875rem rgba(0, 0, 0, 0.2);
    color: white;
    border-radius: 0.625rem;
}

.card-front-image,
.card-back-image {
    width: 100%;
    height: auto;
    display: block;
}

.card-back {
    position: absolute;
    top: 1.875rem;
    left: 1.875rem;
}

.card-front {
    z-index: 3;
    position: absolute;
    top: 7.5rem;
    right: 1.875rem;
    height: 9.75rem;
}

.card-front-logo {
    position: absolute;
    width: 3.4375rem;
    left: 1.25rem;
    top: 1.25rem;
}

.card-front-digits {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 3rem;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.2rem;
}

.card-front-name,
.card-front-date-first, .card-front-date-middle, .card-front-date-last {
    font-size: 0.6rem;
    font-weight: 400;
    position: absolute;
    bottom: 1.25rem;
}

.card-front-name {
    left: 1.25rem;
}

.card-front-date-first {
    right: 2.625rem;
}

.card-front-date-middle {
    right: 2.25rem;
}

.card-front-date-last {
    right: 1.25rem;
}

.card-back-num {
    position: absolute;
    color: white;
    font-size: 0.6rem;
    right: 2.5rem;
    top: 4.375rem;
}

.form-section, .completed-section {
    min-width: 90%;
    max-width: 90%;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.card-name-container,
.card-number-container,
.card-exp-date-container {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.card-name-label,
.card-number-label,
.card-exp-date-label,
.card-cvc-label {
    font-size: 0.75rem;
}

input {
    height: 2.8125rem;
    border-radius: 10px;
    border: 0.125rem solid var(--color-light-gray);
    outline: none;
}

input:focus {
    border-color: var(--color-purple);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

#card-name,
#card-number,
#card-cvc,
#card-exp-date-month,
#card-exp-date-year {
    font-size: 1rem;
    opacity: 50%;
    padding-left: 0.9375rem;
}

.form-bottom-section {
    display: flex;
    gap: 1.25rem;
}

.form-bottom-container {
    display: flex;
    gap: 0.625rem;
}

#card-exp-date-month,
#card-exp-date-year {
    width: 4.6875rem;
}

.form-cvc-container,
.form-exp-date-container {
    display: flex;
    flex-direction: column;
}

.form-cvc-container {
    width: 100%;
}

#card-exp-date-month,
#card-exp-date-year,
#card-cvc {
    margin: 0.625rem 0;
}

button {
    height: 3.4375rem;
    margin-top: 0.3125rem;
    border: none;
    border-radius: 0.4375rem;
    background: var(--color-dark-purple);
    color: white;
    font-size: 1rem;
}

.error {
    border-color: var(--color-red) !important;
}

.error-message {
    display: none;
    color: var(--color-red);
    font-size: 0.625rem;
}

.error-message.show {
    display: block;
}

.completed-section {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
}

.completed-image {
    width: 4.0625rem;
}

.completed-heading {
    font-size: 1.375rem;
}

.completed-message {
    font-size: 0.8125rem;
    opacity: 50%;
}

.completed-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9375rem;
}

.completed-section button {
    width: 90%;
}

.attribution-background {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: min(90%, 25rem);
    background: var(--color-blue-gray);
    backdrop-filter: blur(0.625rem); /* 10px */
    padding: 0.75rem;
    border-radius: 0.5rem;
    text-align: center;
}

.attribution {
    font-size: 0.8rem;
    margin: 0;
}

@media screen and (min-width: 1110px) {
    .background-section {
        position: fixed;
        height: 100%;
        width: 35%;
        top: auto;
    }

    .container {
        flex-direction: row;
        justify-content: center;
        gap: 6.25rem;
    }

    .card-section {
        min-width: 37.5rem;
        max-width: 37.5rem;
        flex-direction: column;
        gap: 2.5rem;
        height: auto;
        margin-top: 0;
    }

    .card-front,
    .card-back {
        width: 28.125rem;
        height: 15rem;
        position: relative;
        box-shadow: 0.3125rem 3.125rem 4.6875rem rgba(0, 0, 0, 0.2);
    }

    .card-back {
        margin-left: auto;
        margin-right: 1.875rem;
        top: auto;
        left: auto;
    }

    .card-front {
        margin-left: 1.875rem;
        z-index: auto;
        top: auto;
        right: auto;
        height: 15rem;
    }

    .card-front-logo {
        width: auto;
        left: 1.875rem;
        top: 1.875rem;
    }

    .card-front-digits {
        font-size: 1.75rem;
        bottom: 3.75rem;
    }

    .card-front-name,
    .card-front-date-first, .card-front-date-middle, .card-front-date-last {
        font-size: 0.875rem;
        bottom: 1.25rem;
    }

    .card-front-name {
        left: 1.875rem;
    }

    .card-front-date-first {
        right: 3.75rem;
    }

    .card-front-date-middle {
        right: 3.25rem;
        bottom: 1.3125rem;
    }

    .card-front-date-last {
        right: 1.875rem;
    }

    .card-back-num {
        font-size: 0.875rem;
        bottom: 6.875rem;
        right: 2.8125rem;
        margin-right: 0.9375rem;
        top: auto;
    }

    .form-section {
        min-width: 25rem;
        max-width: 25rem;
        width: 40%;
        margin-right: 3.75rem;
    }

    form {
        gap: 1.5625rem;
    }

    .completed-section {
        min-width: 25rem;
        max-width: 25rem;
        margin-right: 3.75rem;
    }

    .attribution-background {
        width: min(45%, 30rem);
        bottom: 2rem;
    }
}